.navigationDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: black;
}

.logo {
  color: red;
  display: inline-block;
  font-size: 20px;
  margin: 0px;
  padding: 0;
}
.ulDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 80px 0px 0px;
}

.linkH1,
.linkH1:active,
.linkH1:visited,
.linkH1:link {
  text-decoration: none;
  color: grey;
}
li {
  margin: 0px 10px;
  list-style: none;
  display: inline-block;
  color: grey;
}

.items {
  font-size: 16px;
}

.items:hover {
  color: silver;
  cursor: pointer;
}

.buttonAndCartDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

@media (max-width: 576px) {
  .logo {
    font-size: 16px;
  }
  .navigationDiv {
    /* justify-content: center; */
  }
  li {
    margin: 0px 10px;
  }
  .items {
    font-size: 14px;
  }
  .ulDiv {
    padding: 0px;
  }
}

@media (max-width: 414px) {
  .logo {
    font-size: 18px;
  }

  .linkH1logo {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .navigationDiv {
    /* justify-content: center; */
    align-items: center;
  }
  li {
    margin: 0px 5px;
  }
  .items {
    font-size: 12px;
  }
  .ulDiv {
    padding: 0px;
  }
}
